body {
    display: flex; 
    flex-direction: column;
    background-color: grey;

  }

#container {
    justify-content: center;
    display: flex; 
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin:auto;
    margin-bottom: 100px;
  }

.square {
    background-color:white;
  }

button {
    width: 100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
